/* Which Community Character Are You? Quiz page */

/* ALL PAGES */

:root {
    --light: #F4F4F4;
    --dark: #18181A;
    --lightblue: #C4CFE4;
    --darkblue: #003674;
    --lightgray: #CACBD0;
    --darkgray: #656565;
}

/* Nav Buttons */

a:link { 
    text-decoration: none; 
    color: var(--dark);
} 
a:visited { 
    text-decoration: none; 
    color: var(--dark);
} 
a:hover { 
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}
a.active {
    font-weight: bold;
    color: var(--dark);
}

/* Header/All Pages */

h2 {
    font-size: 50px;
    color: var(--darkblue);
    text-align: center;
    margin: 0px auto 20px auto;
    padding-top: 85px;
}

p {
    font-size: 20px;
    color: var(--darkgray);
    margin-bottom: 40px;
    text-align: center;
}

header {
    background: url(Site\ Assets/PaperLinesBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

main {
    background: url(Site\ Assets/Background_Bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

.quizheader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.quizheader nav {
    font-family: 'Kiwi Maru';
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

main {
    font-family: 'Kiwi Maru';
}

form {
    margin: auto;
    width: 80%;
}

h3:first-of-type {
    font-size: 40px;
    padding-top: 15px;
    margin-top: 0px;
}

h3 {
    font-size: 40px;
    padding-top: 15px;
    margin-top: 80px;
}

.form-check-label {
    font-size: 32px;
    margin-top: 18px;
}

.form-check-input {
    margin: 30px 10px 25px 20px;
    width: 30px;
    height: 30px;
    text-align: left;
}

.Submit a {
    font-size: 32px;
    margin: 82px auto 40px 0px;
    width: 25%;
    background-color: var(--darkblue);
    color: var(--light);
}

.Results {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Results h3 {
    text-align: center;
    margin-top: 70px;
}

.Results img {
    width: 60%;
    margin-left: 20%;
}