/* ALL PAGES */

:root {
    --light: #F4F4F4;
    --dark: #18181A;
    --lightblue: #C4CFE4;
    --darkblue: #003674;
    --lightgray: #CACBD0;
    --darkgray: #656565;
}

/* Nav Buttons */

a:link { 
    text-decoration: none; 
    color: var(--dark);
}
a:visited { 
    text-decoration: none; 
    color: var(--dark);
} 
a:hover { 
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}
a.active {
    font-weight: bold;
    color: var(--dark);
}

/* Header/All Pages */

html {
    background: url(Site\ Assets/PaperLinesBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

header nav {
    display: flex;
}

header ul {
    font-family: 'Kiwi Maru';
    font-size: 30px;
    list-style-type: none;
    margin-left: 8%;
}

header li {
    display: inline-block;
    margin: 10px 10px 0px 10px;
}

.signup {
    margin-left: auto;
    margin-right: 1%;
    align-self: flex-end;
    text-align: right;
}

h2 {
    font-size: 50px;
    color: var(--dark);
    text-transform: uppercase;
    text-align: center;
    margin: 60px auto 20px auto;
}

main {
    font-family: 'Kiwi Maru';
}



/* Homepage */

h1 {
    font-size: 70px;
    text-align: center;
    color: var(--darkblue);
    margin-top: 0px;
}


.Updates {
    background: var(--lightgray);
    margin: 40px auto auto auto;
    padding: 10px 30px 10px 30px;
}

.Updates ul {
    list-style-type: none;
}

.Updates h2 {
    font-size: 40px;
    color: var(--darkblue);
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto 0px auto;
}

.Updates h3 {
    font-size: 20px;
    color: var(--darkblue);
}

.Updates a {
    font-size: 20px;
    color: var(--darkblue);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}

.Updates p {
    font-size: 15px;
    color: var(--darkgray);
    margin-top: -20px;
}

.Updates {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.About {
    background: var(--darkblue);
    width: 943px;
    margin: 60px auto auto auto;
    padding: 10px 30px 10px 30px;
}

.About h2 {
    font-size: 40px;
    color: var(--lightgray);
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto 0px auto;
}

.About p {
    font-size: 25px;
    color: var(--lightgray);
}

.Image img {
    display: block;
    margin: 60px auto 20px auto;
    width: 40%;
}
