/* Add screen styles below */

:root {
    --light: #F4F4F4;
    --dark: #18181A;
    --lightblue: #C4CFE4;
    --darkblue: #003674;
    --lightgray: #CACBD0;
    --darkgray: #656565;
}

a:link { 
    text-decoration: none; 
    color: var(--dark);
} 
a:visited { 
    text-decoration: none; 
    color: var(--dark);
} 
a:hover { 
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
}
a.active {
    font-weight: bold;
    color: var(--dark);
}




html {
    background: url(Site\ Assets/PaperLinesBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

header nav {
    display: flex;
}

header ul {
    font-family: 'Kiwi Maru';
    font-size: 30px;
    list-style-type: none;
    margin-left: 8%;
}

header li {
    display: inline-block;
    margin: 10px 10px 0px 10px;
}

.signup {
    margin-left: auto;
    margin-right: 1%;
    align-self: flex-end;
    text-align: right;
}




body {
    font-family: 'Kiwi Maru';
}

.Updates {
    background: var(--lightgray);
    margin: 40px auto auto auto;
    padding: 10px 30px 10px 30px;
}

.Updates ul {
    list-style-type: none;
}

.Updates h2 {
    font-size: 40px;
    color: var(--darkblue);
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto 0px auto;
}

.Updates h3 {
    font-size: 20px;
    color: var(--darkblue);
}

.Updates p {
    font-size: 15px;
    color: var(--darkgray);
    margin-top: -20px;
}

.Updates {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.About {
    background: var(--darkblue);
    width: 943px;
    margin: 60px auto auto auto;
    padding: 10px 30px 10px 30px;
}

.About h2 {
    font-size: 40px;
    color: var(--lightgray);
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto 0px auto;
}

.About p {
    font-size: 25px;
    color: var(--lightgray);
}

.Image img {
    display: block;
    margin: 60px auto 20px auto;
    width: 40%;
}






.All h2 {
    font-size: 40px;
    color: var(--darkblue);
    text-transform: uppercase;
    text-align: center;
    margin: 70px auto 20px auto;
}

.All li {
    background: var(--lightgray);
    width: 60%;
    margin: 0px auto 0px auto;
    padding: 20px 30px 20px 30px;
    list-style-type: none;
}

.All li:nth-child(odd) {
    background: var(--light);
}

.All li:nth-child(even) {
    background: var(--lightblue);
}

.All li:last-child {
    margin-bottom: 80px;
}

.All h3 {
    color: var(--darkblue);
    font-size: 25px;
    margin: 0px;
}

.All p {
    color: var(--darkgray);
    font-size: 15px;
    margin: 0px;
}




.EpisodeMenu {
    background: var(--lightgray);
    width: 60%;
    margin: auto auto 0px auto;
    padding: 20px;
}

.EpisodeMenu h2 {
    font-size: 50px;
    color: var(--dark);
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto 20px auto;
}

.EpisodeMenu li {
    display: inline-block;
    margin: 0px 15px 0px 15px;
    font-size: 25px;
    color: var(--darkblue);
}



.EpisodeList {
    background: var(--lightgray);
    width: 60%;
    margin: auto auto 20px auto;
    padding: 20px;
}

.EpisodeList h3 {
    color: var(--darkblue);
    font-size: 25px;
    margin: 0px 0px 0px 20%;
}

.EpisodeList li {
    width: 60%;
    list-style-position: inside;
    margin: 5px 0px 5px 20%;
    font-size: 25px;
}

.EpisodeList li:nth-child(odd) {
    color: var(--darkblue);
}

.EpisodeList li:nth-child(even) {
    color: #3679F7;
}