/* Updates page */

.All li {
    background: var(--lightgray);
    width: 60%;
    margin: 0px auto 0px auto;
    padding: 20px 30px 20px 30px;
    list-style-type: none;
}

.All li:nth-child(odd) {
    background: var(--light);
}

.All li:nth-child(even) {
    background: var(--lightblue);
}

.All li:last-child {
    margin-bottom: 80px;
}

.All h3 {
    color: var(--darkblue);
    font-size: 25px;
    margin: 0px;
}

.All p {
    color: var(--darkgray);
    font-size: 15px;
    margin: 0px;
}